
hr{
    border:1px solid #1E90FF;
}
h3{
    color:#FFF;
}
.operacaoTapaBuraco{
    background-color:#4682B4;
    border:none;
    text-align: center;
}
.operacaoUsuario{
    background-color:#166ba2; 
    border:none;
    text-align: center;
}
.operacaoTapaBuraco .operacaoUsuario img{
    margin-top: 20px;
}
.operacaoUsuario a{
    text-decoration: none;
}
.operacaoUsuario:hover{
    background-color:#2F4F4F;
}
.operacaoTapaBuraco:hover{
    background-color:#2F4F4F;
}
.inforFooter{
    margin-top: 25px;
    color:#1E90FF;
}
b{
    font-size: 17px;
}
.panel-heading{
    text-align: center;
    border-radius:5px;
}
/*
li{
    font-size: 17px;
}
.novoContato a{
    color:#FFF;
    font-size: 15px;
    text-decoration: none;
}
.contatos a{
    text-decoration: none;
}
*/
.texto{
    color:#FFF;
    font-weight: bolder;
    margin-top: 50px;
    border:none;
}
.lista img{
    width:15%;
    border-radius: 10px;
    margin-top: 10px;
}
/*
#msg{
    color:#228B22;
    font-size:20px;
    font-weight: bolder;
}
.novoContato .glyphicon{
    font-size: 18px;
    color: #FFF;
}
*/