.navbar {
    background-color: #e63888;
    z-index: 9999;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand{
    font-size: 27px;
    color:#fff;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
}
.navbar li a, .navbar .navbar-brand:hover{
    color:#1E90FF;
    text-decoration: none;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 19px;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #1E90FF;
    background-color: #fff;
    border-radius: 5px;
}
.navbar-default .navbar-nav > li > a{
    margin-top: 15px;
    margin-bottom: 15px;
}
.dropdown-menu  {
    background-color:#e63888;
}

.dropdown-menu .glyphicon{
    font-size: 15px;
    color: #fff;
}



