.navbar {
    background-color:#4682B4;
    z-index: 9999;
    font-family: Montserrat, sans-serif;

}
.navbar .navbar-brand{
    font-size: 26px;
    color:#fff;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 30px;
}
.navbar li a{
    font-size: 20px;
    color:#fff;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 30px;
}

.navbar ul li a:hover{
    color:#FFF; 
    background-color:#4682B4;
}

.dropdown-menu {
    background-color:#4682B4;
    margin-right: 13px;
}

.dropdown-menu li a{
    font-size:16px
}

